<style type="text/css">



BODY           {COLOR: black;FONT-SIZE: 13px; font-family:nanum;LETTER-SPACING: -1px;}
td           {COLOR: black;FONT-SIZE: 13px; font-family:nanum;LETTER-SPACING: 0px;}
p {margin:0;}
.topmenu        {FONT-SIZE: 13px; FONT-FAMILY: nanum;}
.topmenu        A:link    {COLOR: #454545; TEXT-DECORATION: none}
.topmenu        A:visited {COLOR: #454545; TEXT-DECORATION: none}
.topmenu        A:hover   {COLOR: #C90000; TEXT-DECORATION: underline}






IMG 		        {border: none}
.tab              {FONT-SIZE: 14px; COLOR: #4B4B4B; font-weight:bold; font-family:nanum;}
.gray            {FONT-SIZE: 13px; COLOR: #333333; font-family:nanum;}
.ls                {LETTER-SPACING: 0px; font-family:nanum;}
.stxt              {FONT-SIZE: 13px; COLOR: #7C7C7C; LETTER-SPACING: 0px; font-family:nanum;}
.stxt              A:link        {COLOR: #7C7C7C; TEXT-DECORATION: none; font-family:nanum;}
.stxt              A:visited   {COLOR: #7C7C7C; TEXT-DECORATION: none; font-family:nanum;}
.stxt              A:hover    {COLOR: #7C7C7C; TEXT-DECORATION: underline; font-family:nanum;}
.stxt1            {FONT-SIZE: 13px; COLOR: #7C7C7C; LETTER-SPACING: 0px; font-family:nanum;}
.stxt1            A:link        {COLOR: #7C7C7C; TEXT-DECORATION: none; font-family:nanum;}
.stxt1            A:visited   {COLOR: #7C7C7C; TEXT-DECORATION: none; font-family:nanum;}
.stxt1            A:hover    {COLOR: #7C7C7C; TEXT-DECORATION: underline; font-family:nanum;}
.stxt2            {FONT-SIZE: 13px; COLOR: #7C7C7C; font-family:nanum;}
.stxt2            A:link        {COLOR: #7C7C7C; TEXT-DECORATION: none; font-family:nanum;}
.stxt2            A:visited   {COLOR: #7C7C7C; TEXT-DECORATION: none; font-family:nanum;}
.stxt2            A:hover    {COLOR: #0F7AAD; TEXT-DECORATION: underline; font-family:nanum;}

.stran            {FONT-SIZE: 13px; COLOR: #7C7C7C; font-family:nanum;}
.ntxt              {FONT-SIZE: 13px; COLOR: #7C7C7C; LETTER-SPACING: 0px; font-family:verdana;}
.number              {FONT-SIZE: 13px; font-family:verdana;}
.snum              {FONT-SIZE: 13px; font-family:verdana;}
.stnum              {FONT-SIZE: 13px; font-family:Tahoma;}
.tnum              {FONT-SIZE: 13px; font-family:Tahoma;}
.vtxt              {FONT-SIZE: 13px; COLOR: #7C7C7C; font-family:verdana,nanum;}

.swhite              {FONT-SIZE: 13px; COLOR: #ffffff; LETTER-SPACING: 0px; font-family:verdana;nanum;}
A.swhite:link { FONT-SIZE: 13px; COLOR: #ffffff;  LETTER-SPACING: 0px; TEXT-DECORATION: none; FONT-FAMILY: , nanum }
A.swhite:active { FONT-SIZE: 13px; COLOR: #ffffff;  LETTER-SPACING: 0px; TEXT-DECORATION: none; FONT-FAMILY: , nanum }
A.swhite:visited { FONT-SIZE: 13px; COLOR: #ffffff;  LETTER-SPACING: 0px; TEXT-DECORATION: none; FONT-FAMILY: , nanum }
A.swhite:hover { FONT-SIZE: 13px; COLOR: #ffffff;  LETTER-SPACING: 0px; TEXT-DECORATION: underline; FONT-FAMILY: , nanum }

.sBwhite              {FONT-SIZE: 13px; COLOR: #ffffff;  font-family:nanum;}
A.sBwhite:link { FONT-SIZE: 13px; COLOR: #ffffff;  TEXT-DECORATION: none; FONT-FAMILY: , nanum }
A.sBwhite:active { FONT-SIZE: 13px; COLOR: #ffffff;   TEXT-DECORATION: none; FONT-FAMILY: , nanum }
A.sBwhite:visited { FONT-SIZE: 13px; COLOR: #ffffff;  TEXT-DECORATION: none; FONT-FAMILY: , nanum }
A.sBwhite:hover { FONT-SIZE: 13px; COLOR: #ffffff;   TEXT-DECORATION: underline; FONT-FAMILY: , nanum }

.white              {FONT-SIZE: 13px; COLOR: #ffffff;  font-family:nanum; LETTER-SPACING: 0px; }
A.white:link { FONT-SIZE: 13px; COLOR: #ffffff;  LETTER-SPACING: 0px;  TEXT-DECORATION: none; FONT-FAMILY: nanum }
A.white:active { FONT-SIZE: 13px; COLOR: #ffffff;  LETTER-SPACING: 0px;   TEXT-DECORATION: none; FONT-FAMILY: nanum }
A.white:visited { FONT-SIZE: 13px; COLOR: #ffffff;  LETTER-SPACING: 0px;  TEXT-DECORATION: none; FONT-FAMILY: nanum }
A.white:hover { FONT-SIZE: 13px; COLOR: #ffffff;  LETTER-SPACING: 0px;   TEXT-DECORATION: underline; FONT-FAMILY: nanum }

.tmenu          {FONT-SIZE: 13px; COLOR: #ffffff; LETTER-SPACING: 0px; font-family:nanum;}
.tmenu          A:link        {COLOR: #ffffff; TEXT-DECORATION: none; font-family:nanum;}
.tmenu          A:visited   {COLOR: #ffffff; TEXT-DECORATION: none; font-family:nanum;}
.tmenu          A:hover    {COLOR: #ffffff; TEXT-DECORATION: underline; font-family:nanum;}

.jtxt          {FONT-SIZE: 13px; COLOR: #7C7C7C; LETTER-SPACING: 0px; font-family:nanum;}
.jtxt          A:link        {COLOR: #7C7C7C; TEXT-DECORATION: none; font-family:nanum;}
.jtxt          A:visited   {COLOR: #7C7C7C; TEXT-DECORATION: none; font-family:nanum;}
.jtxt          A:hover    {COLOR: #007B8B; TEXT-DECORATION: underline; font-family:nanum;}

.jbtxt          {FONT-SIZE: 13px; COLOR: #000000; LETTER-SPACING: 0px; font-family:nanum;}
.jbtxt          A:link        {COLOR: #000000; TEXT-DECORATION: none; font-family:nanum;}
.jbtxt          A:visited   {COLOR: #000000; TEXT-DECORATION: none; font-family:nanum;}
.jbtxt          A:hover    {COLOR: #007B8B; TEXT-DECORATION: underline; font-family:nanum;}

.smenu          {FONT-SIZE: 13px; COLOR: #000000; font-weight:bold; font-family:nanum;}
.smenu          A:link        {COLOR: #000000; TEXT-DECORATION: none; font-family:nanum;}
.smenu          A:visited   {COLOR: #000000; TEXT-DECORATION: none; font-family:nanum;}
.smenu          A:hover    {COLOR: #C90000; TEXT-DECORATION: underline; font-family:nanum;}

.wmenu          {FONT-SIZE: 13px; COLOR: #ffffff; font-weight:bold; font-family:nanum;}
.wmenu          A:link        {COLOR: #ffffff; TEXT-DECORATION: none; font-family:nanum;}
.wmenu          A:visited   {COLOR: #ffffff; TEXT-DECORATION: none; font-family:nanum;}
.wmenu          A:hover    {COLOR: #ffffff; TEXT-DECORATION: underline; font-family:nanum;}

.wm          {FONT-SIZE: 13px; COLOR: #ffffff;  LETTER-SPACING: 0px; font-family:nanum;}
.wm          A:link        {COLOR: #ffffff;  LETTER-SPACING: 0px; TEXT-DECORATION: none; font-family:nanum;}
.wm          A:visited   {COLOR: #ffffff;  LETTER-SPACING: 0px; TEXT-DECORATION: none; font-family:nanum;}
.wm          A:hover    {COLOR: #ffffff;  LETTER-SPACING: 0px; TEXT-DECORATION: underline; font-family:nanum;}

A:link          { COLOR: black;TEXT-DECORATION: none; font-family:nanum;}
A:active        { COLOR: black;TEXT-DECORATION: none; font-family:nanum;}
A:visited       { COLOR: black;TEXT-DECORATION: none; font-family:nanum;}
A:hover         { COLOR: black;TEXT-DECORATION: none; font-family:nanum;}
.cont            A:link        {COLOR: #7C7C7C; TEXT-DECORATION: none; font-family:nanum;}
.cont            A:visited   {COLOR: #7C7C7C; TEXT-DECORATION: none; font-family:nanum;}
.cont            A:hover    {COLOR: #005D89; TEXT-DECORATION: none; font-family:nanum;}


#cBoard td{padding-bottom:3px;}
#cBoard a.off{height:27px;color:#553C5C;padding-top:5px;background:url(./bbsskin/FAQ_NEW/board_img/cboardbg.gif) no-repeat left top;display:block;}
#cBoard a.off:hover{font-weight:bold;color:#FFFFFF;letter-spacing:-1px;background:url(./bbsskin/FAQ_NEW/board_img/cboardbgon.gif) no-repeat left top;display:block;}
#cBoard a.on{height:27px;font-weight:bold;color:#FFFFFF;letter-spacing:-1px;padding-top:5px;background:url(./bbsskin/FAQ_NEW/board_img/cboardbgon.gif) no-repeat left top;display:block;}
#cBoard span.date{float:left;width:124px;font-family:verdana;font-size:12px;font-weight:normal;letter-spacing:0px;margin-top:-1px;padding-left:27px;display:block;}
#cBoard .viewcon{color:#553C5C;line-height:18px;padding:9px 20px 14px 12px;}




#faqBoard td{padding-bottom:0px;}
#faqBoard a.off{height:27px;color:#553C5C;padding-top:5px;background:url(./bbsskin/BBS4_FAQ/board_img/faqboardbg.gif) no-repeat left top;display:block;}
#faqBoard a.off:hover{font-weight:bold;color:#FFFFFF;letter-spacing:-1px;background:url(./bbsskin/BBS4_FAQ/board_img/faqboardbgon.gif) no-repeat left top;display:block;}
#faqBoard a.on{height:27px;font-weight:bold;color:#FFFFFF;letter-spacing:-1px;padding-top:5px;background:url(./bbsskin/BBS4_FAQ/board_img/faqboardbgon.gif) no-repeat left top;display:block;}
#faqBoard span.date{float:left;width:40px;font-family:verdana;font-size:12px;font-weight:normal;letter-spacing:0px;margin-top:-1px;padding-left:12px;display:block;}
#faqBoard .viewcon{color:#553C5C;line-height:18px;padding:9px 20px 14px 12px;}


#faqBoard2 td{padding-bottom:1px;}
#faqBoard2 a.off{height:27px;color:#553C5C;padding-top:8px;background:url(./bbsskin/BBS4_FAQ/board_img/faqboardbg.gif) no-repeat left top;display:block;padding-left:60px;}
#faqBoard2 a.off:hover{height:27px;font-weight:bold;color:#FFFFFF;padding-top:8px;background:url(./bbsskin/BBS4_FAQ/board_img/faqboardbgon.gif) no-repeat left top;display:block;padding-left:60px;}
#faqBoard2 a.on{height:27px;font-weight:bold;color:#FFFFFF;padding-top:8px;background:url(./bbsskin/BBS4_FAQ/board_img/faqboardbgon.gif) no-repeat left top;display:block;padding-left:60px;}
#faqBoard2 span.date{float:left;width:40px;font-family:verdana;font-size:12px;font-weight:normal;letter-spacing:0px;margin-top:-1px;padding-left:60px;display:block;}
#faqBoard2 .viewcon{bgcolor:#FFFFFF;color:#553C5C;line-height:18px;padding:9px 20px 14px 12px;}





.font8           {COLOR: black;FONT-SIZE: 8px; font-family:nanum;LETTER-SPACING: 0px;}
.font9           {COLOR: black;FONT-SIZE: 9px; font-family:nanum;LETTER-SPACING: 0px;}
.font10           {COLOR: black;FONT-SIZE: 10px; font-family:nanum;LETTER-SPACING: 0px;}
.font11           {COLOR: black;FONT-SIZE: 11px; font-family:nanum;LETTER-SPACING: 0px;}
.font12           {COLOR: black;FONT-SIZE: 12px; font-family:nanum;LETTER-SPACING: 0px;}
.font13           {COLOR: black;FONT-SIZE: 13px; font-family:nanum;LETTER-SPACING: 0px;}
.font14           {COLOR: black;FONT-SIZE: 14px; font-family:nanum;LETTER-SPACING: 0px;}
.font15           {COLOR: black;FONT-SIZE: 15px; font-family:nanum;LETTER-SPACING: 0px;}
.font16           {COLOR: black;FONT-SIZE: 16px; font-family:nanum;LETTER-SPACING: 0px;}
.font17           {COLOR: black;FONT-SIZE: 17px; font-family:nanum;LETTER-SPACING: 0px;}


</style>